.container{
  min-height: 400px; 
  height:400px; 
  max-height:auto; 
  max-width: 400px;
  display: flex; 
  flex-direction: column; 
  border: 2px solid black; 
  float: left; 
}

.headerContainer, 
.footerContainer{
  margin: 5px 0;
  padding:20px;  
  min-height: 30px; 
  max-width: 400px;
  text-align: center; 
}

  header.headerContainer, 
  .footerContainer{
    background-color: #f4f4f4; 
    border: 1px dotted #f4f4f4;
  }  

  article.headerContainer{
    min-height: 20px; 
    border: 1px dotted lightgrey;
    flex: 1 0 auto; 
  } 

  article.headerContainer button{
    float: right; 
  }

  article.headerContainer span{
    float: left; 
  }
.isActive {
  color: red;
  font-weight: 800; 
}

.isComplete span {
  color: green;
  text-decoration: line-through;
}


.footerContainer.All > .All {
   background-color:white; 
}

.footerContainer.Completed > .Completed{
  background-color:white; 
}
.footerContainer.Active > .Active {
  background-color:white; 
}

.article-container {
  margin: 0 30px; 
  float: left; 
}

.loggin-container {
  float: left; 
  width: 60%; 
  position: relative; 
}

.number {
  padding:3px 7px; 
}

.selected.number{
  font-weight: bold;
  color: black;
}


.login-area{
  border: 2px dotted lightgrey; 
  background-color: lightsteelblue;
}

.loggedIn-wallet-value {
  background-color: pink;
  position: absolute; 
  top:30px; 
  right:0 ; 
 }
 
.basket {
  clear: both;
  float: left;
  width:100%; 
  min-height:30px; 
  background-color: grey; 
}

.products {
  clear: both;
  float: left;
  width:100%; 
  min-height:30px; 
  background-color: lightgrey; 
}

.product {
  display: inline-block;
  width: calc(100% / 5 - 30px);
  margin:5px;
  padding: 5px; 
  background-color: #f4f4f4;
}
.containerProduct{
  border-bottom: 1px solid white; 
  padding: 10px;
  margin: 10px; 
}
.containerRight{
  float: right; 
  width: 30%; 
  border-left: 1px solid lightgrey; 
  border-right: 1px solid lightgrey;
  padding: 0 10px;
  margin: 0 10px; 
}